.App {
  
}

.App h1 {
  display: flex;
  justify-content: space-around;
}

.Calendar {
  display: flex;
  flex-wrap: wrap;
}

.Calendar > div {
  width: calc(100% / 7);
  height: 50px;
  border: 1px solid gray;
  box-sizing: border-box;
  margin: -1px -1px 0 0;
  flex-grow: 1;
}

.Calendar .today {
  background: tomato;
  color: white;
}